################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/TryUnityOfWork
/.vs/ConsoleApp2ReapeatAll/v15/Server/sqlite3/db.lock
